# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Back-up-Thu\CodeGym_Module2\Session17_IOBinaryFile_Practice_CopyBigFiles\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
